:root {
    --taux: 140;
    --width: 0%;
}

body {
    max-width: 25vw;
    margin: 0 auto;
}

.container {
    margin: 2rem 0;
    background-color: hsl(0, 0%, 90%);
    height: 30px;
    width: 200px;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    margin-bottom: 10px;
    margin-top: 1px;


}

.jauge {
    width: var(--width);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-radius: 8px;
    background-color: hsl(var(--taux), 100%, 50%);
    transition: all 0.4s ease;
}






legend {
    padding-bottom: 10px;
}


label {

    width: 50%;
    text-align: center;
    margin-bottom: 1px;
    padding-bottom: 1px;
}

span {
    margin-top: 2px;
    margin-bottom: 1px;
    padding-bottom: 1px;

}

input {
    text-align: center;
    margin-bottom: 1px;
    padding-bottom: 1px;


}


div {
    text-align: center;
}

h5 {
    margin-top: 0px;
    padding-top: 0px;
    text-align: justify;
}


#interface {
    background-color: f69af6;
    width: 300px;
    height: 700px;
    margin: auto;
    margin-top: 120px;
    border: 1px solid #999;
}

#formulario {
    width: 240px;
    padding-top: 10px;
    padding-left: 32px;
    height: 300px;



}

#tabelaIMC {
    padding-left: 52px;
    width: 220px;
    margin-top: 20px;
}

h3 {
    text-align: center;

}

.rectangle {
    background-color: rgb(217, 203, 203);
    height: 80px;
    width: 200px;
}



invalid {
    border: 2px dashed red;
}

valid {
    border: 1px solid rgb(21, 220, 107);
}


label {

    padding-left: 20px;
    text-align: center;
}



#botao {
    background-color: #D4D4D4;
    padding: 7px;
    margin-top: 5px;
    width: 50px;
    margin-left: 35%;
    border: 1px solid #666;
    cursor: pointer;
    padding-bottom: 1px;
}



#botao a {
    text-decoration: none;
    color: #666;
    padding-bottom: 3px;

}

#botao:hover {
    background-color: #09f;
    color: #fff;
}

#botao:hover a {
    color: #fff;
}

.infoImc {
    padding-top: 10px;
}



.messageImc {
    text-align: center;
    font-size: 8px;
    margin-bottom: 1px;
    padding-bottom: 1px;



}

#imc {
    font-family: bold;
    margin-bottom: 1px;
    padding-bottom: 1px;
}
button {
    font-size: 15px;
    background-color: rgb(247, 244, 244);
  
}
