<IfModule mod_rewrite.c>
Options +FollowSymlinks

# URL rewriting module activation
RewriteEngine on
RewriteBase /

RewriteCond %{HTTP_HOST} !^$
RewriteCond %{HTTP_HOST} !^www\.aquavelo\.com [NC]
RewriteCond %{HTTPS}s ^on(s)|
RewriteRule ^ http%1://www.aquavelo.com%{REQUEST_URI} [R=301,L]

# URL rewriting rules
RewriteRule ^sitemap$ /?p=sitemap [QSA,L]
RewriteRule ^contact$ /?p=contact [QSA,L]
RewriteRule ^centres$ /?p=centers [QSA,L]
RewriteRule ^partenaires$ /?p=partenaires [QSA,L]
RewriteRule ^centres/([^/]+)$ /?p=page&city=$1 [QSA,L]
RewriteRule ^seance-decouverte/([^/]+)$ /?p=free&city=$1 [QSA,L]

RewriteRule ^concept-aquabiking$ /?p=concept [QSA,L]
RewriteRule ^aquabiking$ /?p=aquabiking [QSA,L]
RewriteRule ^aquabiking/velo-dans-l-eau$ /?p=velo [QSA,L]
RewriteRule ^aquabiking/bienfaits-minceur$ /?p=bienfaits [QSA,L]
RewriteRule ^blog/([0-9]+)/([0-9]+)/([0-9]+)/([^/]+)$ /?p=blog&name=$4 [QSA,L]

RewriteRule ^cgv$ /?p=cgv [QSA,L]
RewriteRule ^mentions-legales$ /?p=mentions [QSA,L]

RewriteRule ^facebook$ http://www.facebook.com/pages/aquavelo/number?fref=ts [QSA,L]

# Nouvelle règle pour conseilminceur
RewriteRule ^conseilminceur$ /?p=conseilminceur [QSA,L]
</IfModule>
