<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    
    # Base URL
    <If "%{HTTP_HOST} =~ /^(localhost|127\.0\.0\.1)/">
        RewriteBase /aquavelo/
    </If>
    <Else>
        RewriteBase /
    </Else>

    # Force redirection if not a real file or directory
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Custom Routes
    RewriteRule ^google_test/?$ https://www.google.com [R=301,L]
    RewriteRule ^ping_htaccess/?$ index.php?p=home&ping=1 [QSA,L]
    RewriteRule ^vente_formule/?$ index.php?p=vente_formule [QSA,L]
    RewriteRule ^vente_cryo/?$ index.php?p=vente_cryo [QSA,L]
    RewriteRule ^vente_prix/?$ index.php?p=vente_prix [QSA,L]
    RewriteRule ^vente_prixprod/?$ index.php?p=vente_prixprod [QSA,L]
    RewriteRule ^vente_cryoprod/?$ index.php?p=vente_cryoprod [QSA,L]
    RewriteRule ^inscription/?$ index.php?p=vente_formule [QSA,L]
    RewriteRule ^centres/([^/]+)/?$ index.php?p=page&city=$1 [QSA,L]
    RewriteRule ^centres/?$ index.php?p=centers [QSA,L]
    RewriteRule ^aquabiking/?$ index.php?p=aquabiking [QSA,L]
    RewriteRule ^contact/?$ index.php?p=contact [QSA,L]
    RewriteRule ^free/?$ index.php?p=free [QSA,L]

</IfModule>

ErrorDocument 404 /index.php
