body {
	background-color: #E8FAFE;
}

.login-area {
	height: 500px;
	margin-top: 5%;
	border-radius: 8px;

}
.login-area h1 {
	text-align: center;
	margin:auto;
}
legend {
	color: black;
	text-align: center;
	margin-bottom: 15px;
}

form {
	padding: 30px;
	border:solid 1px silver;
}