body {
	background: #7451EB;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}


h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    margin: 0 0 20px 0;
}



.heading {
	height: 50px;
	padding: 5px;
	background: #7451EB;
	padding-left: 25px;
	color: black;

}
.heading p{
	color: black;

}
.col-sm-2 {
	background: #7451EB;
	padding-top: 10px;
}

.col-xs-10 {
	background: white !important;
	min-height: 650px;
	overflow: hidden;
}

#side-menu li a {
	color: white;
}

#side-menu li a:hover {
	background: blue;
}

#footer {
	text-align: center;
	color: white;
}

hr {
	border-color: silver;
}

.center-col {
	margin: 0 auto;	
	position: absolute;
}

.page-title {
	border-bottom: solid 2px silver;
	margin-bottom: 15px;
	color: #2D91FF;
}

.blog {
	background: white;
	min-height: 662px;
}

.navbar-nav li a  {
	padding: 20px;
}

.navbar {
	font-size: 16px;
	border-bottom: solid 1px silver;
	border-radius: 0;
}

.navbar-right {
	padding: 3px 0;
}

.navbar-brand {
	padding: 20px;
}

#latest-post {
	padding: 10px 5px;
}

#blog-footer {
	text-align: center;
	color: white;
}

.nav-pills>li.active>a {
    color: #fff;
    background-color: blue;
}


.footer-wrapper {
	padding:20px;
}

.post-title  {
	color: #2D91FF;
    margin: 0 0 20px 0;
}

.post-info {
	color: #2D91FF;
    margin: 0 0 20px 0;
}

.form-group {
	font-weight: bold;
}
.post {
	padding: 10px;
	margin-bottom: 10px;
}

#read_more_btn {
	float: right;
	 background-color: #2D91FF;
	 border-radius: 4px;
}

.main {
	margin-top : -20px;
}

#dashboard-nav {
	border : 0;
}

.imageicon {
	margin: 0 auto;
	max-height: 150px;
	max-width: 150px;
}

.widget {
	padding: 10px;
}

.title {
	background: silver;
	padding: 5px;
	font-weight: bold;
	color: white;
}


